<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBNB - 2</title>
    <link rel="stylesheet" href="../static/styles/3-header.css">
    <link rel="stylesheet" href="../static/styles/3-footer.css">
    <link rel="stylesheet" href="../static/styles/1-filters.css">
    <link rel="stylesheet" href="../static/styles/4-places.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/scripts/3-hbnb.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <div id="api_status"></div>
        <h1>HBNB</h1>
    </header>
    <section class="filters">
        <h4>Amenities</h4>
        <ul>
            {% for amenity in amenities %}
                <li><input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}">{{ amenity.name }}</li>
            {% endfor %}
        </ul>
    </section>
    <section class="places">
        <h1>Places</h1>
        <div class="places_list">
            <!-- Places will be dynamically loaded here by JavaScript -->
    </section>
    <footer>
        <p>Best School</p>
    </footer>
</body>
</html>

